<configuration>
    <!-- property: 속성 설정 -->
    <!-- 로그 경로 및 파일 이름 설정 -->
    <property name="LOG_PATH" value="./logs/" />
    <property name="LOG_FILE_NAME" value="appLog.log" />
    <!-- 로그 패턴 설정 -->
    <!-- 콘솔 -->
    <property name="CONSOLE_LOG_PATTERN" value="%highlight([request_id: %X{request_id:-startup}]) %highlight([timestamp: %d{yyyy-MM-dd HH:mm:ss.SSS}]) %highlight([thread: %thread]) %highlight([level: %-5level]) %highlight([logger: %logger{36}]) - [message: %msg]%n" />
    <!-- 파일 -->
    <property name="FILE_LOG_PATTERN" value="[request_id: %X{request_id:-startup}] [timestamp: %d{yyyy-MM-dd HH:mm:ss.SSS}] [thread: %thread] [level: %-5level] [logger: %logger{36}] - [message: %msg]%n" />

    <!-- Appender 설정 -->
    <!-- 콘솔 Appender 설정 -->
    <!-- Appender 종류 지정: 콘솔, 로깅 라이브러리 지정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Appender 종류 지정: 파일, 로깅 라이브러리 지정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}${LOG_FILE_NAME}</file>

        <!-- 롤링 정책 설정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 날짜와 인덱스 포함 -->
            <fileNamePattern>${LOG_PATH}appLog.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <!-- 최대 파일 크기 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 최대 30일간 로그 파일 보관 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <!-- 로그 메시지 형식 정의 -->
        <encoder>
            <!-- 로그 메시지 패턴 -->
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 로거 설정 -->
    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- 세부 로거 설정 -->
    <logger name="com.happyTravel" level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.springframework" level="WARN">
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>